#form_login{
    margin-top: 20vh;
    margin-bottom: 20vh;
    height: 60vh;
    margin-left: 35vw;
    margin-right: 35vw;
    width: 30vw;
    background-color: #c8ad8d;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
#titulo_login{
    background-color: #ebe6ea;
    width: 30vw;
    text-align: center;
    height: 3vh;
    border-radius: 5px;
    font-weight: bold;
}
#contenedor_nombre_acc{
    width: 50% !important;
    margin-right: 10px;
}
#contenedor_edad_acc{
    width: 20% !important;
    margin-right: 10px;
}
#contenedor_genero_acc{
    width: 30% !important;
    margin-right: 10px;
}
#contenedor_direccion_acc{
    width: 80% !important;
    margin-right: 10px;
}
#contenedor_salario_acc{
    width: 20% !important;
    margin-right: 10px;
}
#card_tabla_registros{
    display: none;
}
#card_tabla_totales{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    display: none;
}